<div class="card bg-dark text-white h-100">
  <img class="img-crop card-img" src="https://d-art.ppstatic.pl/kadry/k/r/1/0a/3f/55c60ea0f41fb_o_full.jpg" />
  <div class="card-img-overlay">
    <div class="row align-items-start">
      <div class="col-md-auto">
        <h1 class="card-title img-text-bg px-2">Akcent Zoo</h1>
      </div>
    </div>
    <div class="row align-items-start">
      <div class="col">
        <h5 align="left">Adres</h5>
      </div>
      <div class="col align-items-start">
        <h5 align="right">Godziny</h5>
      </div>
    </div>
    <div class="row align-items-end">
      <div class="col">
        <p class="card-text img-text-bg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pellentesque massa placerat duis ultricies lacus sed turpis tincidunt. Elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi. Egestas quis ipsum suspendisse ultrices gravida dictum fusce.</p>
      </div>
    </div>
  </div>
</div>
