.category-container {
  width: 33.33%;
  box-sizing: border-box;
  align-content: center;
}

.category-badge {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, .3);
}

.cat-icon {
    opacity: 0.8;
}
